.all-menus{
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

/*.page-layout-wrapper{
display: flex;
align-items: row; 
}*/

.menu-modal{
  width: 270px;
  height: 556px;
  border: solid gray 1px;
  border-radius: 6px;
  margin-left: 5px;
  margin-top: 45px;
  position: fixed;
  background-color: white;
  z-index: 999;
  /*display: none;*/
}

#profile-name{
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: #555459;
  font-family: Slack-Lato,appleLogo,sans-serif;
  margin-top: 20px;
}

#profile-handle{
  text-align: center;
  font-size: 14px;
  color: gray;
}

.slack-modal-links{
  border-bottom: solid gray 1px;
}

.slack-profile-links p{
  margin-left: 25px;
}

.slack-modal-links p{
  margin-left: 25px;
}

.switch-team-menu p{
  margin-left: 25px;
}

#team-name-modal{
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: #555459;
  font-family: Slack-Lato,appleLogo,sans-serif;
  border-top: solid gray 1px;
  padding-top: 20px;
}

#team-channel{
  text-align: center;
  font-size: 14px;
  color: gray;
}

#modal-toggle-header{
  width: 220px;
  height: 61px;
  margin-left: 0px;
  background-color: rgb(77, 57, 75);
  border: none;
  color: white;
  margin-top: -8px;
  position: fixed;
}

/*#modal-toggle-header:hover{
  color: #4D394B;
  opacity: .5;
}*/

.sidebar-menu{
  width: 220px;
  height: 100vh;
  display: inline-block;
}
.sidebar-words{
  width: 220px;
  height: 100vh;
  background-color: rgb(77, 57, 75);
  color: gray; 
  overflow-y: hidden;
  margin-top: 0px;
}

.sidebar-words li{
  list-style-type: none;
  line-height: 2em;
  font-size: 16px;
  margin-left: -20px;
}

.sidebar-words ul {
  margin-top: 55px;
}

h2{
  font-size: 13px;
  font-weight: normal;
}

#team-name{
  font-size: 18px;
  text-align: left;
  margin-left: 8px;
  font-weight: 500;

}

#user-name{
  font-size: 14px;
  text-align: left;
  margin-left: 8px;
  color: gray;
}

.quick-switcher{
  width: 220px;
  height: 64px;
  position: fixed;
  margin-top: -72px;
  background-color: rgb(77, 57, 75);
  color: gray;
  text-align: center;
  border: none;
  font-size: 16px;
}

/*styling for message window starts here*/

.main-message-view{
  height: 100vh;
  border: solid black 1px;
  overflow-y: hidden;
  display: inline-block;
  width: calc(100vw - 237px);
}

.message-header{
  height: 61px;
  width: 100%;
  border: solid black 1px;
  position: fixed;
}

.message-display{
  border: solid black 1px;
  height: 90vh;
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.message-footer{
  height: 64px;
  width: 79vw;
  border: solid black 1px;
  height: 61px;
  margin-top: 12px;
  position: fixed;
  display: flex;
  justify-content: space-around;
}

.add-message{
  width: 75vw;
  height: 35px;
  border-radius: 5px;
  border: solid #bbbdbf 2px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.message-input{
  width: 89%;
  height: 93%;
  font-size: 15px;
  border-right: none;
  border-bottom: none;
  border-top: none;
  
}

.fa-plus{
  font-size: 20px;
  color: gray;
}

.fa-smile-o{
  color: gray;
  font-size: 20px;
}

