.all-menus{
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.menu-modal{
  width: 270px;
  height: 556px;
  border: solid black 1px;
  border-radius: 6px;
  margin-left: 5px;
  margin-top: 45px;
  position: absolute;
  background-color: white;
  z-index: 999;
  /*display: none;*/
}


.sidebar-menu{
  width: 220px;
  height: 100%;
  background-color: rgb(77, 57, 75);
  color: white;
  
}

#team_id_header{
  width: 220px;
  height: 60px;
  border: green solid 1px;

}

#modal-toggle-header{
  width: 220px;
  height: 61px;
  margin-left: -15px;
  background-color: rgb(77, 57, 75);
  border: none;
  color: white;
  /*position: fixed;*/
  margin-top: -8px;
}

/*.sidebar-words{
  margin-left: 15px;
}*/

#team-name{
  font-size: 20px;
  text-align: left;
  margin-left: 8px;

}

#user-name{
  font-size: 14px;
  text-align: left;
  margin-left: 8px;
}

.page-layout-wrapper{
  display: flex;
  align-items: row;
  height: 100vh;
}

/*.message-bar{
  width: 676px;
  height: 41px;
}*/

.header-base{
  width: 100%;
  height: 60px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.main-message-view{
  width: 100%;
  height: 100vh;
  /*display: flex;
  align-items: row;*/
}

.user-name{
  text-align: center;
}

p{
  margin-left: 20px;
  font-size: 15px;
  line-height: 10px;
}

h2{
  font-weight: 900;
  color: #555459;
}


.slack-modal-links{
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

#profile-name{
  font-size: 24px;
  font-weight: 900;
  color: #555459;
  margin-top: 20px;
}

#profile-handle{
  font-size: 14px;
  font-weight: 900;
  color: #555459;
}